[Unit]
Description=Check Studio fork for updates every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Persistent=true
Unit=studio-update.service

[Install]
WantedBy=timers.target
